<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CheckItemMapper">
<insert id="add" parameterType="com.qf.pojo.CheckItem">
    INSERT INTO t_checkitem (code,name,sex,age,price,type,remark,attention) values (#{code},#{name},#{sex},#{age},#{price},#{type},#{remark},#{attention})
</insert>

    <select id="findPage" parameterType="com.qf.entity.QueryPageBean" resultType="com.qf.pojo.CheckItem">
        SELECT * FROM t_checkitem
        <if test="queryString!=null and queryString!=''">
            WHERE code=#{queryString} OR name=#{queryString}
        </if>
        ORDER BY id DESC
    </select>

    <delete id="delete" parameterType="integer">
        DELETE FROM t_checkitem WHERE id=#{id}
    </delete>
</mapper>